.carousel {
    position: static !important;

    .card {
    padding: 22px 21px 48px 20px;
    height: 225px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.20);
    margin: 70px 15px;

    .desc {
        margin-top: 12px;
        font-size: 18px;
        letter-spacing: 0.18px;
    }
}

    .rightArrow {
        position: absolute;
        right: calc(4% + 1px);
    }

    .leftArrow {
        position: absolute;
        left: calc(4% + 1px)
    }
}

@media screen and (max-width: 375px) {
    .carousel {

        .card {
            padding: 22px 17px 31px 17px;
            height: 188px;

            margin: 32px 10px;

            .desc {
                font-size: 14px;
                letter-spacing: 0.14px;
            }
        }

        .rightArrow {
            right: calc(1% + 1px);
        }

        .leftArrow {
            left: calc(1% + 1px)
        }
    }
}